/* Add CSS styles for your web site here and use them in index.html. */
body {
    background-color: #f0c929;
}

#sahiharabic {
    text-align: center;
}

#sahiharabic {
    font-size: xxx-large;
}

 body {
    font-family: century;
}

  body {
    font-size: large;
  }

hr {
  border-color: rgb(0, 0, 0);
}

 .navbar {
    overflow: hidden;
    background-color: #595a4f;
    
  }

  .navbar a {
    float: left;
    display: block;
    color: #ffd700;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a:hover {
    transform: translateY(2px);
  } 

#hom {
  width: 46%;
}

#nexb {
   width: 45%;
}





#shohid {
  overflow: hidden;
  background-color: #595a4f;
  border: none;
}

#shohid {
  float: left;
  display: block;
  color: #ffd700;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#shohid:hover {
  transform: translateY(2px);
} 


