/* Add CSS styles for your web site here and use them in index.html. */
body {
    background-color: rgb(48, 237);
}

#sahiharabic {
    text-align: center;
    font-size: xxx-large;
}

 body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

  body {
    font-size: large;
  }

hr {
  border-color: rgb(0, 0, 0);
}

